body {
  font-size: 20px;
  font-family: sans-serif;
  background-color: rgb(240, 240, 240);
  margin: 0px;
  align-items: center;
  justify-content: center;
}

header {
  /*background-color: rgba(0, 200, 0, 0.5);*/
  background: linear-gradient(120deg, rgba(0, 200, 0, 0.6) 30%, rgba(0, 0, 0, 0.5) 80%);
  padding: 20px;
}

.upload_photo {
  margin-left: 10px;
}

.info_graphical {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  /*border: solid black;*/
}

.info_text {
  display: flex;
  margin: 20px;
  gap: 50px;
}

.photo_img img:hover {
  filter: contrast(150%);
  transition: 0.5s;
}
