<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Photo info</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% load custom_tags %}


<header>
    <div class="header_info">
        <h1>Geolocation</h1>
    </div>

    <div class="date_today">
        Hello!<br>
        {% load tz %}
            {% timezone 'Europe/Warsaw' %}
            Today is: {% now 'd-m-Y, H:i' %}
        {% endtimezone %}
    </div>

    <div class="header_buttons">
        <a href="/upload_photo/"><button type="button" class="header_btn">Upload a photo</button></a>
        <a href="/upload_photo/{{ img.pk }}/"><button type="button" class="header_btn">Photo info</button></a>
    </div>
</header>


<section class="photo_user_distance">

    <div class="photo_user_map">
        <strong>The distance between you and the photo<br></strong>
        {{ m_dist|safe }}<br>
    </div>

    <div class="user_geolocation">
        <input id="show_user_geolocation" type="checkbox">
        <label for="show_user_geolocation">Show your exact position on a map</label>
        <div id="user_geolocation_txt">
<!--            TYP lat_user: {{ lat_user|get_type }}<br>-->
            {% if lat_user and lon_user %}
            <ul>
                <li>Coordinates of you:
                {{ lat_user|floatformat:6 }},
                {{ lon_user|floatformat:6 }}</li><br>
                <li>Coordinates of the photo:
                {{ lat_photo|floatformat:6 }},
                {{ lon_photo|floatformat:6 }}</li><br>
                <li>The distance between you and the photo is: <i>{{ dist }} km</i></li>
            {% endif %}
            </ul>
        </div>
        <br>
        <div id="user_geolocation_map">
            <strong>Your geolocation<br></strong>
            {{ m_user|safe }}
        </div>
    </div>
</section>


</body>

<script src="{% static 'js/app.js' %}"></script>
</html>
