<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Photo info</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
{% load custom_tags %}

<header>
    <h1>Photo information</h1>
</header>

<section class="info_graphical">
    <div class="photo_img">
        <strong>Photo<br></strong>
        <img src="{{ img.photo.url }}" alt="Photo" height="500px">
    </div>
    <div class="photo_map">
        <strong>Where the photo was taken<br></strong>
        {{ m|safe }}<br>
    </div>
</section>

<section class="info_text">
    <div class="photo_coordinates">
        <strong>Geographic data:<br></strong>
        <ul>
            <li>Altitude: {% division_decimal alt.0 alt.1 2 %} m</li>
            <li>Geographical (DMS) coordinates:</li>
            {{ lat.0.0 }}&deg; {{ lat.1.0 }}&#8242; {% widthratio lat.2.0 lat.2.1 1 %}&#8243; {{ lat_ref }}<br>
            {{ lon.0.0 }}&deg; {{ lon.1.0 }}&#8242; {% widthratio lon.2.0 lon.2.1 1 %}&#8243; {{ lon_ref }}<br>
            <li>Decimal (DD) coordinates:</li>
            {{ lat_decimal|floatformat:6 }}<br>
            {{ lon_decimal|floatformat:6 }}<br>
        </ul>
    </div>
    <br>
    <div class="photo_other_info">
        <strong>Other info:<br></strong>
        <ul>
            <li>Height: {{ height }} px</li>
            <li>Width: {{ width }} px</li>
            <li>Date taken: {{ date }}</li>
            <li>Camera: {{ camera }}</li>
            <li>Model: {{ model }}</li>
        </ul>
    </div>
</section>

<div id="user_geolocation">
    <div id="user_geolocation_txt">
        {% if lat_user and lon_user %}
            Decimal (DD) coordinates of you:
            {{ lat_user|floatformat:6 }},
            {{ lon_user|floatformat:6 }}<br>
        {% endif %}
<!--        TYP: {{ lat_user|get_type }}<br>-->
        The distance between you and the photo is: <i>{{ dist }} km.</i><br>
        <input id="show_user_geolocation" type="checkbox">
        <label for="show_user_geolocation">Show my geolocation</label>
    </div>
    <div id="user_geolocation_map">
        <strong>You are here<br></strong>
        {{ m_user|safe }}
    </div>
</div>

</body>
<script src="{% static 'js/app.js' %}"></script>
</html>
